body{
    background-color: black;
}

*{
    margin: 0;
    padding: 0;
}

.contenedor{
    width: 600px;
    height: 900px;
    border: 1px solid white;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: #111;
}

/*FRANJITA ARRIBA*/

.franja1{
    width: 600px;
    height: 400px;
    background-color: yellow;
    background-image: url("img/vestuario.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 200px;
    clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 50%);
    z-index: 2;
    animation: franja1 8s 1 forwards;
}

@keyframes franja1{

    from{
        left: -150px;
        filter: blur(5px);
    }
    to{
        left: 0px;
        filter: blur(0px);
    }
}

/*FRANJITA ABAJO*/

.franja2{
    width: 300px;
    height: 400px;
    background-color: yellow;
    position: absolute;
    top: 450px;
    left: 60px;
    clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 100%);
    z-index: 3;
    animation: franja2 10s 1 forwards;
}

@keyframes franja2{

    from{
        top: 600px;
        filter: blur(5px);
    }
    to{
        top: 450px;
        filter: blur(0px);
    }
}

/*FRANJITA AZUL*/

.franja3{
    width: 600px;
    height: 700px;
    background-color: blue;
    position: absolute;
    top: 0px;
    left: 0px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
    z-index: 1;
    animation: fondo 15s 1 forwards;
}

@keyframes fondo{

    from{
        scale: 100%;
        filter: blur(10px);
    }
    to{
        scale: 120%;
        filter: blur(0px);
    }
}

/*LA RICA MODELO*/

.modelo{
    width: 380px;
    top: 0px;
    left: 20px;
    position:absolute;
    z-index: 2;
    animation: modelo 12s 1 forwards;
}

@keyframes modelo{

    from{
        top: 100px;
        scale: 80%;
        filter: grayscale(100%);
    }
    to{
        top: 0px;
        scale: 100%;
        filter: grayscale(0%);
    }
}

/*EL RICO TITULO*/

.titulo{
    position: absolute;
    top: 30px;
    right: 30px;
    color: white;
    font-size: 40px;
    font-family: Arial Black;
    line-height: 55px;
    text-align: left;
    z-index: 5;
    animation: titulo 6s 1 forwards;
}

.titulo span{
    color: yellow;
}

@keyframes titulo{

    from{
        opacity: 0;
        right: -200px;
    }
    to{
        opacity: 1;
        right: 30px;
    }
}
.program{
    position: absolute;
    top: 90px;
    left: 45px;
    right: 20px;
    color: black;
    font-family: Arial;
}
.program h2{
    font-size: 20px;
    font-family: Arial Black;
    margin-bottom: 10px;
    
}
.program ul{
    list-style: none;
    font-size: 14px;
    line-height: 22px;
}
.program ul li::before{
    content: "-";
    font-weight: bold;
}
.volver{
    position: fixed;
    top: 5px;
    left: 20px; 
    width: 140px;   
    height: 40px;   
    background: linear-gradient(45deg, #2563eb, #38bdf8);
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 40px; 
    font-size: 16px;   
    font-family: Arial;
    border-radius: 12px;
    transition: 0.4s;
    box-shadow: 0px 8px 15px rgba(0,0,0,0.4);
    z-index: 10;
}

.volver:hover{
    background: linear-gradient(45deg, #1d4ed8, #0ea5e9);
    transform: scale(1.1);
    box-shadow: 0px 12px 20px rgba(0,0,0,0.6);
}